<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Monero Mining Benchamrks</title>
  <meta name="description" content="View GPU and CPU benchmarks for Monero mining.">
  <meta name="keywords" content="monero mining, xmr mining, cryptocurrency mining, gpu mining, cpu mining, mining benchmarks">

  <meta property="og:title" content="Monero Mining Benchamrks" />
  <meta property="og:description" content="View GPU and CPU benchmarks for Monero mining.">
  <!--<meta property="og:image" content="/images/logo.png">-->
  <meta property="og:site_name" content="miner.pizza, Monero Mining Benchamrks">
  <meta property="og:url" content="https://miner.pizza">
  <meta property="og:type" content="website">

  <meta name="theme-color" content="#ff6600">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <!--<link rel="shortcut icon" type="image/png" href="/favicon.png" />-->

  <link rel="stylesheet" href="/main.css" media="screen,projection">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NKJTJ2W');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKJTJ2W"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include "common/topbar.html" %}

  <div class="content-body">
    {% block body %}{% endblock %}
  </div>

  {% include "common/footer.html" %}

  <script src="/assets/vendor/materialize.min.js"/>
</body>

</html>
